* {
    background-color: azure;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3f9ff;
}
.calculator {
    padding: 8pt;
    border-radius: 15pt;
    background: rgb(31, 35, 31);
    box-shadow: 0 5px 95px 66px rgba(255, 112, 243, 0.6);
}

input {
    width: 210pt;
    height: 66pt;
    margin-bottom: 2pt;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    color: #f4fbff;;
    font-size: 1.5em;
    border-radius: 25pt;
    
    text-align: right;
    padding-right: 15pt;  
}
input:hover{
    box-shadow: 0 6px 6px rgba(252, 252, 252, 0.6);
}
.btn {
    width: 40pt;
    height: 40pt;
    margin: 5pt;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #f4fbff;
    font-size: 1.5em;
    border-radius: 50%;
   

}
.btn:hover{
    border: 1px solid #3498db;
    box-shadow: 0 6px 6px rgba(79, 158, 255, 0.6);
}

.btns {
    background: transparent;
}
.special {
    
    background-color: rgb(216, 99, 252);
}
.special:hover{
    background-color: rgb(195, 0, 255);
}
.spc {
    background-color: rgb(63, 69, 255);
}
.spc:hover {
    background-color: rgb(0, 8, 255);
}